.sideBar {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-content: stretch;
}

.closed {
  display: none;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0.2rem;
  margin: 0;
}
